<li class="mb-4">
  <a routerLink="/account/event-occurrences/{{ item.id }}" class="block shadow rounded-lg p-4">
    <div class="text-xl mb-4">A {{ item.venue }} event</div>

    <div *ngIf="status === 'ended'" class="bg-red-200 rounded-lg p-2 mb-4">
      <span class="font-bold">Started by: </span>
      <span>{{ startDate }}</span>
    </div>

    <div *ngIf="status === 'ended'" class="bg-red-200 rounded-lg p-2">
      <span class="font-bold">Ended by: </span>
      <span>{{ endDate }}</span>
    </div>

    <div *ngIf="status === 'on-going'" class="bg-green-200 rounded-lg p-2 mb-4">
      <span class="font-bold">Started by: </span>
      <span>{{ startDate }}</span>
    </div>

    <div *ngIf="status === 'on-going'" class="bg-green-200 rounded-lg p-2">
      <span class="font-bold">Ends by: </span>
      <span>{{ endDate }}</span>
    </div>

    <div *ngIf="status === 'not-started'" class="bg-orange-200 rounded-lg p-2 mb-4">
      <span class="font-bold">Starts by: </span>
      <span>{{ startDate }}</span>
    </div>

    <div *ngIf="status === 'not-started'" class="bg-orange-200 rounded-lg p-2">
      <span class="font-bold">Ends by: </span>
      <span>{{ endDate }}</span>
    </div>
  </a>
</li>
