<div class="container py-4">
  <app-header-two text="Calendar"></app-header-two>

    <app-big-loader *ngIf="loading" class="block"></app-big-loader>
    
    <app-error-message 
      class="block" 
      [message]="error"
      *ngIf="error !== null"
      (action)="retryFetchList()"
      >
    </app-error-message>

    <div *ngIf="loaded">
      
      <div class="flex gap-4 justify-between items-center mb-8">
        <button
          (click)="previousDate()"
          class="w-10 h-10 bg-green-700 text-white rounded-full flex items-center justify-center hover:bg-green-400"
        >
          <fa-icon [icon]="appIcons.faAngleLeft" ></fa-icon>    
          <span class="sr-only">Previous date</span>      
        </button>

        <div class="text-green-700 font-bold">{{ dateString }}</div>

        <button 
          (click)="nextDate()"
          class="w-10 h-10 bg-green-700 text-white rounded-full flex items-center justify-center hover:bg-green-400"
        >
          <fa-icon [icon]="appIcons.faAngleRight"></fa-icon>
          <span class="sr-only">Next date</span>  
        </button>
      </div>

      <ul>
        <app-calendar-item *ngFor="let item of currentList" [item]="item"></app-calendar-item>

        <li *ngIf="loaded && currentList.length === 0">
          <app-empty-list 
            class="block"
            text="No events for today" 
            >
          </app-empty-list>
        </li>
      </ul>

    </div>
  
</div>
