<div class="container py-4">
  <app-header-two text="Create event"></app-header-two>

  <form
    class="w-full p-16" 
    [formGroup]="createEventForm"
    (ngSubmit)="onSubmit()"
  >
    <fieldset [disabled]="loading">
      <app-text-input 
        labelText="Title"
        inputId="title-input" 
        controlName="title"
        [parentForm]="createEventForm"
        >
      </app-text-input>

      <app-textarea-input 
        labelText="Description"
        inputId="description-input" 
        controlName="description"
        [parentForm]="createEventForm"
        >
      </app-textarea-input>

      <app-submit-button label="Create event" [loading]="loading"></app-submit-button>
    </fieldset>
  </form>
</div>
