<li class="mb-4">
  <a routerLink="/account/events/{{ item.id }}" class="block shadow rounded-lg">
    <div [class]="[avatarColor]" class="rounded-tl-lg rounded-tr-lg text-white py-8 px-4 text-xl">{{ item.title }}</div>
    <div class="p-4">
      <div class="bg-gray-200 rounded-lg p-2 mb-4">
        <span class="font-bold">Host: </span>
        <span>{{ item.participants[0].user.firstName }} {{ item.participants[0].user.lastName }}</span>
      </div>

      <div *ngIf="status === 'not-started'" class="bg-orange-200 rounded-lg p-2">Not started</div>
      <div *ngIf="status === 'ended'" class="bg-red-200 rounded-lg p-2">Ended</div>
      <div *ngIf="status === 'on-going'" class="bg-green-200 rounded-lg p-2">
        <span class="font-bold">Starts by: </span>
        <span>{{ occurrenceStartDate }}</span>
      </div>
    </div>
  </a>
</li>
