<div class="relative mb-4" [formGroup]="parentForm">
  <label [for]="inputId" class="absolute px-2 font-bold">{{ labelText }} {{ required ? '' : '(Optional)' }}</label>
  <input 
    [id]="inputId"
    [required]="required"
    [maxlength]="maxLength"
    [minlength]="minLength"
    [formControlName]="controlName" 
    [type]="passwordShown ? 'text' : 'password'"
    class="w-full rounded-lg block pt-6 px-2 pb-2 bg-white border border-green-700 outline-none disabled:text-gray-400" 
    />
  <span class="text-red-500 text-sm">{{ error }}</span>
  <div class="pt-2">
    <input [id]="'show-'+inputId" type="checkbox" class="accent-green-700" (change)="tooglePasswordShown()" />
    <label [for]="'show-'+inputId"> Show password</label>
  </div>
</div>
