<div class="container py-4">
  <app-header-two text="Event occurrence"></app-header-two>

  <app-big-loader *ngIf="loading" class="block"></app-big-loader>

  <app-error-message 
    *ngIf="error !== null"
    class="block" 
    [message]="error"
    (action)="retryFetchEvent()"
    >
  </app-error-message>

  <div *ngIf="eventOccurrence !== null">
    <div class="text-4xl mb-4">{{ eventOccurrence.event.title }}</div>

    <div class="flex flex-wrap gap-6 items-center mb-4">
      <app-host-data [host]="host?.user" [isBlock]="false"></app-host-data>

      <app-event-occurrence-status [status]="status" [texts]="statusTexts"></app-event-occurrence-status>

      <app-custom-link
        text="View event" 
        link="/account/events/{{ eventOccurrence.event.id }}"
      ></app-custom-link>

      <app-button-with-loader 
        text="Cancel" 
        *ngIf="canManage" 
        (action)="cancelEvent()" 
        [loading]="cancelLoading"
        color="bg-red-700"
        colorHover="bg-red-400"
      ></app-button-with-loader>

      <app-button-with-loader 
        text="Send reminder" 
        *ngIf="canManage" 
        (action)="sendReminder()" 
        [loading]="reminderLoading"
        color="bg-blue-700"
        colorHover="bg-blue-400"
      ></app-button-with-loader>
    </div>

    <dl>
      
      <app-event-occurrence-dl-item title="Description" [body]="eventOccurrence.description"></app-event-occurrence-dl-item>

      <app-event-occurrence-dl-item title="Start date" [body]="startDate"></app-event-occurrence-dl-item>

      <app-event-occurrence-dl-item title="End date" [body]="endDate"></app-event-occurrence-dl-item>

      <app-event-occurrence-dl-item *ngIf="eventOccurrence.cancelledAt" title="Cancel date" [body]="cancelDate"></app-event-occurrence-dl-item>

      <app-event-occurrence-dl-item title="Venue" [body]="eventOccurrence.venue"></app-event-occurrence-dl-item>

      <app-event-occurrence-dl-item *ngIf="eventOccurrence.link" title="Virtual meeting link" [body]="eventOccurrence.link" [isLink]="true"></app-event-occurrence-dl-item>

      <app-event-occurrence-dl-item *ngIf="eventOccurrence.address" title="Physical meeting address" [body]="eventOccurrence.address"></app-event-occurrence-dl-item>

    </dl>

    <form
      *ngIf="canManage" 
      [formGroup]="postponeForm"
      (ngSubmit)="onPostpone()"
      class="my-8 shadow rounded-lg p-4"
      >
      <div class="font-bold mb-4">Update start date</div>

      <fieldset [disabled]="postponeLoading">
        <app-text-input 
          labelText="Start date"
          inputId="start-date-input" 
          controlName="startedAt"
          inputType="datetime-local"
          [parentForm]="postponeForm"
          >
        </app-text-input>

        <app-submit-button label="Update start date" [loading]="postponeLoading"></app-submit-button>
      </fieldset>
    </form>
    
  </div>
  
</div>
