<li class="mb-4">
  <a routerLink="/account/event-occurrences/{{ item.id }}" class="block shadow rounded-lg p-4">
    <div class="rounded-tl-lg rounded-tr-lg text-xl mb-4">{{ item.event.title }}</div>

    <div class="bg-gray-200 rounded-lg p-2 mb-4">
      <span class="font-bold">Host: </span>
      <span>{{ item.event.participants[0].user.firstName }} {{ item.event.participants[0].user.lastName }}</span>
    </div>

    <div class="text-green-700 mb-4">{{ startTime }} - {{ endTime }}</div>

    <div *ngIf="status === 'cancelled'" class="bg-red-400 rounded-lg p-2">Cancelled</div>

    <div *ngIf="status === 'ended'" class="bg-red-200 rounded-lg p-2">Ended</div>

    <div *ngIf="status === 'on-going'" class="bg-green-200 rounded-lg p-2">On going</div>

    <div *ngIf="status === 'not-started'" class="bg-orange-200 rounded-lg p-2">Not started</div>
  </a>
</li>
